{% include 'head.html.twig' %}
    <h1>Address Book</h1>
    {% if contacts is not empty %}
        <h2>Here are your contacts:</h2>
            {% for contact in contacts %}
            <div class="view-contact">
                <h3>{{ contact.getName }}</h3>
                <h4><span class="prefix"> Phone: </span>{{ contact.getPhone }}</h4>
                <h4><span class="prefix"> Address: </span> {{ contact.getAddress }}</h4>
            </div>
            {% endfor %}
    {% endif %}
    <h2>Add New Contact</h2>
    <form action='/contacts' method='post'>
        <div class = "form-group">
          <label for='name'>Contact Name</label>
          <input id='name' class='form-control' name='name' type='text' required>
        </div>
        <div class = "form-group">
          <label for='phone'>Contact Phone</label>
          <input id='phone' class='form-control' name='phone' type='number' required>
        </div>
        <div class = "form-group">
          <label for='address'>Contact Address</label>
          <input id='address' class='form-control' name='address' type='text' required>
        </div>
          <button type='submit' class="btn btn-primary">Add Contact</button>
    </form>

    <form class="bottom" action='/delete_contacts' method='post'>
        <button type='submit' class="btn btn-danger">Clear Contact List</button>
    </form>

{% include 'footer.html.twig' %}
