<html>
<head>
    <title>Address Book</title>
</head>
<body>
    <h1>Address Book</h1>
    {% if contacts is not empty %}
    <p>Here are your contacts:</p>
<ul>
    {% for contact in contacts %}
        <li>{{ contact.getName }}</li>
        <li>{{ contact.getPhone }}</li>
        <li>{{ contact.getAddress }}</li>
        <!-- add complete contact details for all contacts-->



    {% endfor %}
</ul>
{% endif %}
  <form action='/contacts' method='post'>
      <div class = "form-group">
        <label for='name'>Contact Name</label>
        <input id='name' name='name' type='text'>
      </div>
      <div class = "form-group">
        <label for='phone'>Contact Phone</label>
        <input id='phone' name='phone' type='number'>
      </div>
      <div class = "form-group">
        <label for='address'>Contact Address</label>
        <input id='address' name='address' type='text'>
      </div>
        <button type='submit'>Add Contact</button>
    </form>

    <form action='/delete_contacts' method='post'>
        <button type='submit'>Clear Contact List</button>
    </form>
</body>
</html>
