<!DOCTYPE html>
<html>
  <head>
    <title>Address Book</title>
  </head>
  <body>
      <h1>You added a new contact!</h1>
      <p>{{ newcontact.getName }}</p>
      <p>{{ newcontact.getPhone }}</p>
      <p>{{ newcontact.getAddress }}</p>
      <p><a href='/'>View your address book.</a></p>
  </body>
</html>
