      <footer class="navbar-fixed-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-6">
              <p>Thanks for using the Address Book!</p>
            </div>
            <div class="col-xs-6 move-right">
              <p>View this project on <a href="#">Git Hub</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div><!-- end container-fluid -->
  </body>
</html>
